h1 {
    text-transform: uppercase;
    border: 3px solid grey;
    border-left: 3px double grey;
    padding-top: 10px;
    padding-bottom: 10px;
}

.a1 {
    background-color: #cf8a31;
    border-top: 3px solid black;
    border-bottom:3px dashed black ;
}
img{
    display: block;
    margin-bottom: 13px;
    max-width: 100%;
}
.b2{
    opacity: 0.5;
}

h2{
    border:2px solid #cf8a31;
    text-align: right;
    background-image: linear-gradient(90deg, red,tomato,orange,green,blue, purple);
}
.nyb{
color: rgb(227, 18, 18);

}
.d3{
    color: rgb(76, 186, 8);
}
.a2{
    color: rgb(0, 72, 255);
}
